@font-face {
    font-family: 'Cairo';
    src: url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');
}

body {
    font-family: 'Cairo', sans-serif;
}

#responseBox:not(.hidden) {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}